aside(id="aside")
    div(id="foto_aside")
        img(src="/images/foto_perfil.jpg" )
    div(id="bio")
        p ¡Hola! Me llamo Sonia. Tengo 20 años y soy Venezolana. Llevo 1 año viviendo en México; Me gusta la moda, el maquillaje, la buena alimentación y ¡Todo aquello que nos haga sentir y vernos bellas! Por eso quiero compartir contigo algunos tips de belleza y otras cosas interesantes. Me sentiré muy feliz ayudarte y entretenerte.