doctype html
html(ng-app="myApp" lang="es")
    head
        title Sonia Mujica Blog
        meta(charset="utf-8")
        link(href='/css/estilos.css' rel="stylesheet")
        link(href='/css/fuentes.css' rel="stylesheet")
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js')
        script(src='/controller.js')


        link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css', rel='stylesheet')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
        script(src='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
        link(href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css', rel='stylesheet')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js')



    body
        block contenido



