doctype html
html(lang="es")
    head
        title Sonia Mujica Blog
        meta(charset="utf-8")
        link(href='/css/estilos.css' rel="stylesheet")
        link(href='/css/fuentes.css' rel="stylesheet")

        // Include Font Awesome.
        link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        // Include Editor style.
        link(href='/js/css/froala_editor.min.css', rel='stylesheet', type='text/css')
        link(href='/js/css/froala_style.min.css', rel='stylesheet', type='text/css')
        // Include Code Mirror style
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css')
        // Include Editor Plugins style.
        link(rel='stylesheet', href='/js/css/plugins/char_counter.css')
        link(rel='stylesheet', href='/js/css/plugins/code_view.css')
        link(rel='stylesheet', href='/js/css/plugins/colors.css')
        link(rel='stylesheet', href='/js/css/plugins/emoticons.css')
        link(rel='stylesheet', href='/js/css/plugins/file.css')
        link(rel='stylesheet', href='/js/css/plugins/fullscreen.css')
        link(rel='stylesheet', href='/js/css/plugins/image.css')
        link(rel='stylesheet', href='/js/css/plugins/image_manager.css')
        link(rel='stylesheet', href='/js/css/plugins/line_breaker.css')
        link(rel='stylesheet', href='/js/css/plugins/quick_insert.css')
        link(rel='stylesheet', href='/js/css/plugins/table.css')
        link(rel='stylesheet', href='/js/css/plugins/video.css')


        link(href='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css', rel='stylesheet')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
        script(src='http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js')
        link(href='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css', rel='stylesheet')
        script(src='http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js')



    body
        block contenido

